/* 
    Created on : 04/10/2022, 11:26:27
    Author     : Carlos Garcia
*/

html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
<<<<<<< HEAD
body {padding: 0px; margin: 0px; background-color: #597627; background: url(../../public/assets/bg.jpg) no-repeat; height: 100%; width: 100%;}
=======
body {padding: 0px; margin: 0px; background-color: #597627; /* background: url(./../assets/bg.jpg) no-repeat; */ height: 100%; width: 100%;}
>>>>>>> ea9582441f5a4f1627e2e7913bbd7d332672888a
h1, h2, h3, h4, h5, h6 {margin: 10px 0;font-family: inherit;font-weight: bold;text-rendering: optimizelegibility;}

.ctnPong {width:800px; height: 870px; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); position: relative;}
#pongCanvas {width:800px; height: 600px;position: relative;border: 3px solid #fff; background-color: transparent; box-shadow: 0 10px 10px rgba(0,0,0,0.5)}

<<<<<<< HEAD
#logo {padding: 0px; margin: 0px; background: url(../../public/assets/logo.png) no-repeat; height: 81px; width: 185px;}
=======
#logo {padding: 0px; margin: 0px; /* background: url(./../assets/logo.png) no-repeat; */ height: 81px; width: 185px;}
>>>>>>> ea9582441f5a4f1627e2e7913bbd7d332672888a
.placar{position:relative; display:flex; margin:0 auto; justify-content: center}
.ctnCount {background: #333; color: #fff; width: 100px; height: 30px; padding: 10px 20px; position: relative; text-align: center;font-size: 30px;}
.ctnVs {background: #fff; color: #000; padding: 10px 20px;}
.ctnVs h2 {color: #000; padding:0px; margin:0px; font-size: 18px;transform: translateY(-50%);top: 50%;position: relative;}
.ctnCount.ctLeft {border-bottom-left-radius: 30px;}
.ctnCount.ctRight {border-bottom-right-radius: 40px;}
.form-control {border: none; background: none; text-align: center;  color: #fff; font-size: 25px;width: 100%;padding: 0px;margin: 0px;}

.ctnModal {background: #3a3a3a;padding: 20px;width: 400px;left: 50%;position: absolute; border-radius: 15px; color: #fff;text-align: center;top: 50%;box-shadow: 0 10px 10px rgba(0,0,0,0.8); transform: translateX(-50%) translateY(-50%) ; }

.mgT  {margin-top: 15px}
.mgT2 {margin-top: 30px}
.btn-main {padding: 10px 20px; background: #ff9900; color:#000; text-align:center; border: none; cursor: pointer}
.btn-main:hover {background: #ff6000}

.uppercase {text-transform: uppercase}